/*global*/

html {
    min-height: 100%;
    min-width: 100%;
    -ms-text-size-adjust: none;
}

body, div, form, button, textarea, p {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    background-repeat: no-repeat;
}

button.submit-btn {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

img {
    border: 0px;
    border-style: solid;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

button, textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.form-grp textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

.NoWrap {
    white-space: nowrap;
    word-wrap: normal;
}

.colelem {
    display: inline;
    float: left;
    clear: both;
}

.clearfix:after {
    content: "\0020";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.clip_frame {
    overflow: hidden;
}

textarea:focus {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.fld-prompt {
    pointer-events: none;
}

.wrapped-input {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    border: none;
}

.submit-btn {
    z-index: 50000;
    cursor: pointer;
}

span.actAsPara, .actAsDiv, img.block {
    display: block;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

span.actAsPara {
    width: 400px;
}

.borderbox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grpelem {
    display: inline;
    float: left;
}

p, span.actAsPara {
    max-height: 1000000px;
}

.verticalspacer {
    clear: both;
}

.css_verticalspacer .verticalspacer {
    position: relative;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    body {
        text-rendering: auto;
    }
}
/*index*/

#page {
    z-index: 1;
    min-height: 317.6555045871565px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-top: 62px;
    padding-bottom: 120.34449541284351px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#u94 {
    z-index: 2;
    background-color: transparent;
    position: relative;
    width: 9.9%;
    margin-left: 45.11%;
}

#u94_img {
    width: 100%;
}

#u104-4 {
    z-index: 4;
    min-height: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #FF3606;
    background-color: #FFFFFF;
    color: #E61300;
    margin-top: 28px;
    position: relative;
    width: 10.63%;
    margin-left: 44.59%;
}

#widgetu118 {
    z-index: 8;
    width: 0.01px;
    height: 148px;
    margin-top: 34px;
    position: relative;
    margin-left: 32.19%;
}

#u128-4 {
    z-index: 9;
    width: 200px;
    min-height: 21px;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    padding-top: 4px;
    font-size: 12px;
    line-height: 14px;
    font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 120px;
    left: 140px;
}

#u134-4 {
    z-index: 13;
    width: 200px;
    min-height: 21px;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    padding-top: 4px;
    color: #FF0000;
    font-size: 12px;
    line-height: 14px;
    font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 120px;
    left: 140px;
}

#u123-4 {
    z-index: 17;
    width: 200px;
    min-height: 24px;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    padding-top: 4px;
    color: #00FF00;
    font-size: 12px;
    line-height: 12px;
    font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 120px;
    left: 140px;
}

.button, #u133-4 {
    width: 129px;
    height: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: #6B6B6B;
    background-color: #FFFFFF;
    border-radius: 2px;
    color: #6B6B6B;
    text-align: center;
    line-height: 14px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    position: relative;
    margin-right: -10000px;
}

#u133-4 {
    margin-top: 115px;
    padding: 7px 0px 7px;
    left: 100px;
}

li {
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #6B6B6B;
    color: #6B6B6B;
    padding: 5px;
    margin: 2px;
}
.button:hover, #u133-4:hover {
    border-color: #6B6B6B;
    background-color: #F2F2F2;
    min-height: 0px;
    width: 129px;
    height: 22px;
}

#u133-4:active {
    border-color: #6B6B6B;
    background-color: #DEDEDE;
    padding-top: 7px;
    padding-bottom: 0px;
    min-height: 0px;
    width: 129px;
    height: 22px;
    margin: 115px -10000px 0px 0px;
}

#widgetu129 {
    z-index: 25;
    width: 342px;
    height: 101px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: -1px;
}

#u131-4 {
    z-index: 26;
    width: 200px;
    min-height: 20px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #6B6B6B;
    text-align: left;
    line-height: 14px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    position: relative;
    margin-right: -10000px;
    left: 1px;
}

#u130-4 {
    z-index: 30;
    width: 328px;
    min-height: 68px;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    background-color: #F2F2F2;
    padding: 6px;
    color: #C4C4C4;
    line-height: 14px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic;
    position: relative;
    margin-right: -10000px;
    margin-top: 19px;
}

#widgetu129:hover #u130-4 {
    border-color: #6B6B6B;
    background-color: #FFFFFF;
    padding-top: 6px;
    padding-bottom: 6px;
    min-height: 68px;
    width: 328px;
    margin: 19px -10000px 0px 0px;
}

#widgetu129:hover #u130-4 * {
    color: #4F4F4F;
    font-style: normal;
}

#widgetu129_input, #widgetu129_prompt {
    width: 328px;
    min-height: 68px;
    color: #C4C4C4;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic;
    padding: 6px;
}

#widgetu129:hover #widgetu129_input, #widgetu129:hover #widgetu129_prompt {
    padding-top: 6px;
    padding-bottom: 6px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 500px);
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 320px;
}

#u228,#u266{
    background-color:transparent;
    position:relative;
    height: 0px;
}

#u228 {
    width:35%;
    top: 14px;
}

#u228-E {
    max-width: 140px;
}

#u266{
    z-index: 37;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 18.75%;
    left: 68.96%;
    width: 35%;

}